!!! 5
%html
  %head
    %title= "Laia Pérez Ríos"
    %meta{ :content => "", :name => "Personal web page" }
    %meta{ :content => "", :name => "Laia Pérez Ríos" }
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    %header Laia Pérez Ríos
    %nav
      %ul Home
      %ul Résumé
      %ul Cuotes
      %ul Likes
      %ul Contact
    = yield
    %footer Copyright © 2015 LaiaPérezRíos